* {
    background-color: black;
}

img{

    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 550px;
    border: 10px solid white;
    border-radius: 5px;
}


h1 {
    font-family: 'Tsukimi Rounded', sans-serif;
    text-align: center;
    color:aliceblue;
}

p{
    text-align: center;
    color: aliceblue;
}